* {
	box-sizing: border-box;
}

.main {
	height: 98dvh;
	display: grid;
}

/* Desktop (Desktop, 900px and up) */
@media only screen and (min-width: 901px) {
	.main {
		grid-template-columns: repeat(12, 1fr);
		gap: 1.5%;
		padding: 1.5%;
	}
	.navigation {
		background: pink;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.home-section-a {
		background-color: pink;
		grid-column-start: 3;
		grid-column-end: 10;
	}
	.home-section-b {
		background-color: pink;
		grid-column-start: 10;
		grid-column-end: 13;
	}
	.identity-section-a {
		background-color: pink;
		grid-column-start: 3;
		grid-column-end: 9;
	}
	.identity-section-b {
		background-color: pink;
		grid-column-start: 9;
		grid-column-end: 13;
	}
	.portfolio-section {
		background-color: pink;
		grid-column-start: 3;
		grid-column-end: 13;
	}
	.bookmark-section {
		background-color: pink;
		grid-column-start: 3;
		grid-column-end: 13;
	}
	.thought-section-a {
		background-color: pink;
		grid-column: 3 / 5;
	}
	.thought-section-b {
		background-color: pink;
		grid-column: 5/13;
	}
	.resume-section {
		background-color: pink;
		grid-column-start: 3;
		grid-column-end: 13;
	}
}

/* Medium portrait (tablets, 900px and down) */
@media only screen and (max-width: 900px) {
	.main {
		grid-template-rows: 54px auto auto;
		gap: 1.5%;
		padding: 0 1.5%;
	}
	.navigation {
		background-color: aquamarine;
		grid-row: 1;
	}
	.home-section-a {
		background-color: aquamarine;
		grid-row: 2;
	}
	.home-section-b {
		background-color: aquamarine;
		grid-row: 3;
	}
	.identity-section-a {
		background-color: aquamarine;
		grid-row: 2;
	}
	.identity-section-b {
		background-color: aquamarine;
		grid-row: 3;
	}
	.portfolio-section {
		background-color: aquamarine;
		grid-row: 2/4;
	}
	.bookmark-section {
		background-color: aquamarine;
		grid-row: 2/4;
	}
	.thought-section-a {
		background-color: aquamarine;
		grid-row: 2;
	}
	.thought-section-b {
		background-color: aquamarine;
		grid-row: 3;
	}
	.resume-section {
		background-color: aquamarine;
		grid-row: 2/4;
	}
}
