@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
:root {
	--line-color: #dddddd;
	--background: #f8f8f8;
	--text-black: #222222;
	--text-gray: #aaaaaa;
	--background-blog: #fff;
}

* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

body {
	background-color: var(--background);
	background-image: url("https://www.transparenttextures.com/patterns/light-paper-fibers.png");
}
body strong {
	font-size: 1vw;
	line-height: 1.4;
	font-weight: 600;
}

a,
a:hover,
a:visited,
a:active {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.main {
	height: 98dvh;
	display: grid;
}

/* FONT COLOR  */
.black {
	color: #222222;
}

.gray {
	color: #aaaaaa;
}

/* FONT SIZES */
.text-style_1 {
	font-size: 10vw;
	line-height: 1;
	font-weight: 600;
}

.text-style_2 {
	font-size: 5.33vw;
	line-height: 1.1;
	font-weight: 600;
}

.text-style_3 {
	font-size: 2.67vw;
	line-height: 1.1;
	font-weight: 600;
}

.text-style_4 {
	font-size: 1.33vw;
	line-height: 1.2;
	font-weight: 600;
}

.text-style_5 {
	/* font-size: 1.11rem; */
	font-size: 1.11vw;
	line-height: 1.2;
	/* font-weight: 600; */
}

.text-style_6 {
	font-size: 1vw;
	line-height: 1.4;
	font-weight: 600;
}

.text-style_para {
	font-size: 1vw;
	line-height: 150%;
	font-weight: 400;
}

.text-style_small {
	font-size: 0.5vw;
	line-height: 1.4;
	/* font-weight: 400; */
}

.f-h1xxl {
	font-size: 12.09vw;
}

.f-h1xl {
	font-size: 10.75vw;
}

.f-h1l {
	font-size: 9.4vw;
}

.f-h1 {
	font-size: 8.06vw;
}

.f-h2 {
	font-size: 6.72vw;
}

.f-h3 {
	font-size: 5.37vw;
}

.f-h4 {
	font-size: 4.03vw;
}

.f-h5 {
	font-size: 2.69vw;
}

.f-h6 {
	font-size: 1.34vw;
}

.f-p {
	font-size: 0.95vw;
}

.f-small {
	font-size: 0.67vw;
}

.f-smallest {
	font-size: 0.5vw;
}

.heading-1 {
	font-size: 11.3vw;
	font-weight: 600;
}

/* FONT WEIGHT */
.fw-black {
	font-weight: 900;
}

.fw-extrabold {
	font-weight: 800;
}

.fw-bold {
	font-weight: 700;
}

.fw-semibold {
	font-weight: 600;
}

.fw-medium {
	font-weight: 500;
}

.fw-regular {
	font-weight: 400;
}

.fw-light {
	font-weight: 300;
}

.fw-extralight {
	font-weight: 200;
}

.fw-thin {
	font-weight: 100;
}

/* LETTER SPACE */
.ls-m {
	letter-spacing: 1.5px;
	padding: 0 2px;
}

.heading-2 {
	font-size: 4.4vw;
	font-weight: 550;
}

.heading-5 {
	font-size: 1.15vw;
	font-weight: 550;
}

.heading-6 {
	font-size: 1.125rem;
	font-weight: 600;
}

.logo-container {
	display: flex;
	width: auto;
	flex-direction: row;
	color: var(--text-black);
}

/* .logo-title {
	font-size: 1.5rem;
	font-weight: 700;
}
.logo-sub-title {
	font-size: 0.7rem;
	font-weight: 600;
} */

li {
	width: max-content;
	padding: 10px 0;
}

.widget-container {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}
.widget-list {
	display: flex;
	flex-direction: row;
}

.widget-title {
	min-width: clamp(1rem, 40%, 9rem);
}

.widget-content {
	/* font-weight: 400; */
	/* line-height: 1.3; */
	color: var(--text-black);
}

.home-content {
	display: flex;
	width: 100%;
	height: 100%;
	/* background: pink; */
	flex-direction: column;
	justify-content: space-between;
}

.content-list-a {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: flex-end;
}

.content-list-b {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: flex-start;
}

.home-img-frame {
	width: 17vw;
	aspect-ratio: 1/1.278;
}

.home-img-frame img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 24px;
}

/* Desktop (Desktop, 1081px and up) */
@media only screen and (min-width: 1081px) {
	.main {
		grid-template-columns: repeat(12, 1fr);
		gap: 1.5%;
		padding: 1.5%;
	}
	.navigation {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		border-right: 1px solid var(--line-color);
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.menu-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		color: var(--text-gray);
	}

	.mobile-navigation {
		display: none;
		visibility: hidden;
	}
	.home-section-a {
		/* background-color: pink; */
		grid-column-start: 3;
		grid-column-end: 10;
	}
	.home-section-b {
		/* background-color: pink; */
		padding-left: 1.5vw;
		border-left: 1px solid var(--line-color);
		grid-column-start: 10;
		grid-column-end: 13;
	}
	.identity-section-a {
		/* background-color: pink; */
		grid-column-start: 3;
		grid-column-end: 9;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.identity-content {
		display: flex;
		flex-direction: column;
	}
	.identity-text {
		padding-top: 3vh;
		display: grid;
		grid-template-rows: repeat(5, auto);
		row-gap: 1.1vh;
	}
	.identity-widget {
		display: grid;
		grid-template-rows: repeat(5, auto);
		/* gap: 1.2vh; */
		gap: clamp(0.9vh, 1vh, 1.2vh);
	}
	.identity-widget-content {
		/* display: grid;
		grid-template-columns: repeat(2, 1fr); */
		display: flex;
		flex-direction: row;
	}
	.identity-w-c-title {
		min-width: clamp(1rem, 40%, 10rem);
	}

	.identity-text div {
		line-height: 1.5;
		word-spacing: 1pt;
		/* font-weight: 400; */
	}
	.identity-section-b {
		/* background-color: pink; */
		grid-column-start: 9;
		grid-column-end: 13;
	}
	.identity-section-b img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 24px;
	}
	.portfolio-section {
		box-sizing: border-box;
		grid-column-start: 3;
		grid-column-end: 13;
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: 1fr 1fr;
		grid-auto-columns: calc(50% - 10px);
		gap: 20px;
		overflow-x: scroll;
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */
	}
	.portfolio-section::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}

	.portfolio-card {
		position: relative;
	}

	.portfolio-card img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.portfolio-texts {
		position: absolute;
		bottom: 10%;
		padding: 0 20px;
		color: white;
	}

	.bookmark-section {
		grid-column-start: 3;
		grid-column-end: 13;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.bookmark-item {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.bookmark-card {
		display: flex;
		flex-direction: row;
	}
	.bookmark-c-title {
		min-width: 281px;

		/* font-weight: 500; */
	}
	.bookmark-c-cont {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	.bookmark-c-data {
		display: flex;
		flex-direction: row;
		gap: 10px;
	}
	.bookmark-c-d-desc {
		display: flex;
		align-items: flex-end;
	}
	.thought-section-a {
		grid-column: 3 / 5;
		display: flex;
		flex-direction: column;
		gap: 10px;
		overflow: scroll;
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */
	}
	.thought-section-a::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}
	.thought-card {
		display: flex;
		flex-direction: column;
		gap: 5px;
		/* background: burlywood; */
		padding: 10px 5px;
		border-bottom: 0.75px solid var(--line-color);
	}
	.thought-section-b {
		/* background-color: pink; */
		border-left: 1px solid var(--line-color);
		grid-column: 5/13;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0 6vw;
		gap: 20px;
		overflow: scroll;
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */
	}
	.thought-section-b::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}

	.thought-text p {
		margin-bottom: 15px;
		font-size: 1vw;
		line-height: 150%;
		font-weight: 400;
		text-align: justify;
	}

	.resume-section {
		/* background-color: pink; */
		grid-column-start: 3;
		grid-column-end: 13;
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
		overflow: scroll;
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */
	}

	.resume-section::-webkit-scrollbar {
		display: none; /* Safari and Chrome */
	}

	.resume-img-frame {
		max-width: 55vw;
		/* aspect-ratio: 1/1.278; */
	}

	.resume-img-frame img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 24px;
		border: 0.5px solid var(--line-color);
	}

	.resume-action {
		padding: 25px 0;
		width: 55vw;
		/* background: pink; */
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 10vw;
	}

	.resume-a-card {
		background: #cfe6f4;
		width: 10vw;
		display: flex;
		justify-content: center;
		padding: 7px 0;
		border-radius: 14px;
		border: 1px solid var(--line-color);
	}
}

/* Medium portrait (tablets, 1080px and down) */
@media only screen and (max-width: 1080px) {
	.main {
		grid-template-rows: 54px auto 1fr;
		gap: 1.5%;
		padding: 0 1.5%;
	}
	.navigation {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		height: 54px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		grid-row: 1;
	}
	.menu-container {
		display: none;
	}
	.menu-container-mobile {
		font-weight: 550;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		color: #aaaaaa;
		padding: 25px;
		gap: 10px;
	}
	.mobile-navigation {
		z-index: 20;
	}
	.home-section-a {
		/* background-color: aquamarine; */
		grid-row: 3;
		padding-top: clamp(4vh, 8vh, 10vh);
	}
	.home-section-b {
		background-color: aquamarine;
		grid-row: 2;
	}
	.identity-section-a {
		background-color: aquamarine;
		grid-row: 3;
	}
	.identity-section-b {
		/* background-color: aquamarine; */
		grid-row: 2;
	}

	.identity-section-b img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 24px;
	}
	.identity-text {
		padding-top: 3vh;
		display: grid;
		grid-template-rows: repeat(5, auto);
		row-gap: 1.5vh;
	}

	.identity-widget {
		display: grid;
		grid-template-rows: repeat(5, auto);
		gap: 1.2vh;
	}
	.identity-widget-content {
		/* display: grid;
		grid-template-columns: repeat(2, 1fr); */
		display: flex;
		flex-direction: row;
	}
	.identity-w-c-title {
		color: var(--text-gray);
		font-weight: 400;
		min-width: clamp(1rem, 40%, 10rem);
	}
	.identity-w-c-text {
		font-weight: 500;
	}
	.identity-text div {
		line-height: 1.5;
		word-spacing: 1pt;
		/* font-weight: 400; */
	}

	.portfolio-section {
		background-color: pink;
		/* grid-column-start: 3;
		grid-column-end: 13; */
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5vh;
		overflow-x: scroll;
		grid-auto-flow: row;
		position: relative;
	}
	.portfolio-card {
		background: green;
		min-height: 30vh;
		/* z-index: 20; */
	}
	.portfolio-section {
		background-color: aquamarine;
		grid-row: 2/4;
	}
	.bookmark-section {
		background-color: aquamarine;
		grid-row: 2/4;
	}
	.thought-section-a {
		background-color: aquamarine;
		grid-row: 2;
	}
	.thought-section-b {
		background-color: aquamarine;
		grid-row: 3;
	}
	.resume-section {
		background-color: aquamarine;
		grid-row: 2/4;
	}

	.overlay-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 5;
		grid-row: 1/4;
		background: rgba(0, 0, 0, 0.7);
	}
	.overlay {
		display: grid;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 10;
		grid-row: 1/4;
		width: 300px;
		height: 100%;
		grid-template-rows: 54px auto;
		padding-top: 8px;
	}

	.mobile-menu {
		grid-row: 2;
	}

	.mobile-kebab {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding-right: 25px;
	}

	.heading-1 {
		font-size: 18vw;
		font-weight: 600;
	}

	.heading-5 {
		font-size: 1.65vw;
		font-weight: 550;
	}

	.home-img-frame {
		width: 45vw;
		aspect-ratio: 1/1.278;
	}

	.home-img-frame img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 24px;
	}
}
